html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

a {
  display: inline-block;
  padding: .4em .75em .3em;
  background-color: #333;
  border-radius: 8px;
  color: #fff;
  text-decoration: none;

}

.btn {
  font-size: 1.125rem;
}

.btn-small {
  font-style: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  background-color: #ccc;
  border: 3px solid #ccc;;
  /* border: 3px solid #ccc; */


}
.btn-ghost {
  background-color: #fff;
  border: 3px solid black;
  color: black;

}

.btn-warning {
  background-color: #f33;
}

a.btn-subtle:hover {
  background-color: #666;
  border: 3px solid #666;;
}

a.btn-ghost:hover {
  background-color: #666;
  border: 3px solid #666;;


}

a.btn-warning:hover {
  background-color: #933;
}

a:hover {
  background-color: #000;
}
